<header>
    <div>
      <button onclick="loadPokemon()">Kanto</button>
      <button onclick="loadJohtoPokemon()">Johto</button>
      <button onclick="loadHoennPokemon()">Hoenn</button>
      <button onclick="loadSinnohPokemon()">Sinnoh</button>
    </div>
    <div class="logo">
      <a href="../index.html">  <img src="/img/pokemon.png" alt=""></a>
    </div>
    <div class="searchArea">
      <input type="text" placeholder="Search Pokemon" id="searchPokemon"/>
      <button>Search</button>
    </div>
  </header> 